h1 {
    color: blue;
    background-color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 15pt;
    color: navy;
}
body {
    background-color: powderblue;
}
h2 {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif 15px;
}
h3 {
    color: blue;
    background-color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table,th,td {
    background-color: lightblue;
    border: 2px dotted blue;
}
a {
    text-decoration: none;
}

.importante {
    background-color: red;
    color: yellow;
}
.titulo-grande {
    font-weight: bold 18pt;
    font-style: italic;
    color: green;
    text-align: center;
}
#retrato {
    width: 200px;
    height: 300px;
    border: 2px solid blue;
}
a {
    text-decoration: none;
}
a:link {
    color: purple;
    font-size: 2em;
}
a:visited {
    color: grey;
}
a:hover {
    color: red;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
}
a:active {
    color: green;
    font-weight: bold;
}