h1 {
    color: green;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}
p {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
}
h2 {
    background-color: blue;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    color: green;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
table,th,td {
    background-color: orange;
    border: 2px solid red;
}

.importante {
    color: pink;
    background-color: lightyellow;
    font-size: 15pt;
    font-style: italic;
}
.titulo-grande {
    font-weight: bold;
    font-size: 20px;
    color: orange;
}
#retrato {
    width: 30%;
}